*{margin: 0px;
padding: 0px;}

.imagen{display: flex;
flex-direction: column;
justify-content: center;
width: 45%;}

img{display: flex;
flex-direction: column;
justify-content: center;}

body{background-image: url("https://newses.cgtn.com/n/BfJEA-BAA-EA/BIcbbIA.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}

header{display: flex;
background-color: #2C2C54;}

nav{display: flex;
justify-content: left;
opacity: 0.4;}

h1{display: flex;
flex-direction: column;
justify-content: center;}

h2{display: flex;
flex-direction: row;
justify-content: left;}

h5{display: flex;
flex-direction: column;
justify-content: center;}

section{display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
margin-left: 15px;
margin-top: 0px;
margin-right: 15px;
margin-bottom: 0px;
color: #154360;}

article{display: flex;
flex-direction: column;
justify-content: center;
margin-left: 15px;
margin-top: 0px;
margin-right: 15px;
margin-bottom: 0px;
padding: 0px;
color: #154360;
}

aside{display: flex;
flex-direction: column;
text-align: center;
color: #154360;
margin: 0px;
padding: 0px;
}

footer{display: flex;
flex-direction: column;
text-align: center;
background-color: #2C2C54;
color:#E2C93B;}

@media (min-width: 576px) {
body{font-size: 21px;}
header {display: flex;}
nav{display: flex;
	flex-direction: row;
	justify-content: left;}
img{display: flex;
	flex-direction: column;
	width: 35%;}
iframe{display: flex;
	flex-direction: column;
	width: 35%;}}

@media (min-width: 768px) {
body{font-size: 15px;}
header {display: flex;}
nav{display: flex;
	flex-direction: row;
	justify-content: left;}
img{display: flex;
	flex-direction: column;
	width: 40%;}
iframe{display: flex;
	flex-direction: column;
	width: 40%;}
}

@media (min-width: 992px) {body{font-size: 19px;}
header {display: flex;}
nav{display: flex;
	flex-direction: row;
	justify-content: left;}
img{display: flex;
	flex-direction: column;
	width: 50%;}
iframe{display: flex;
	flex-direction: column;
	width: 50%;}}

@media (min-width: 1200px) {body{font-size: 19px;}
header {display: flex;}
nav{display: flex;
	flex-direction: row;
	justify-content: left;}
img{display: flex;
	flex-direction: column;
	width: 70%;}
iframe{display: flex;
	flex-direction: column;
	width: 70%;}}
