body{background-color: rgb(77, 208, 225)}

h1{color: rgb(0, 131, 143);
background-color: rgb(224, 247, 250);
  width: 80%;
  border-radius: 35%;
}

u{color: rgb(0, 131, 143);}

#imagen-1{width: 55%; 
text-align: center;}

h3{color: rgb(0, 131, 143);
background-color: rgb(178, 235, 242);
}

h2{color: rgb(0, 96, 100);
  background-color: rgb(225, 245, 254);
  width: 38%;
  border-radius: 45%;
  text-align: center;
}

img{width: 45%;
  background-color: rgb(225, 245, 254);
  padding: 30px;
}

#enlace {width: 45%;
	border-radius: 45%;}
