*{margin: 0px;
padding: 0px;}

body{background-image: url("https://newses.cgtn.com/n/BfJEA-BAA-EA/BIcbbIA.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}


.imagen1{display: flex;
flex-direction: column;
}

.container{display: flex;
flex-direction: column;
justify-content: center;
}

.carousel-item{width: 50%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;}

.carousel-item img {width: 45%;
height: auto;
flex-direction: row;
}

header{display: flex;
background-color: #2C2C54;}

nav{display: flex;
	flex-direction: left;
justify-content: left;
opacity: 0.6;}

section{display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
margin-left: 15px;
margin-top: 0px;
margin-right: 15px;
margin-bottom: 0px;
color: #154360;}

article{display: flex;
flex-direction: column;
justify-content: center;
margin: 0px;
padding: 0px;
}

p{color: #FFFFFF;}

aside{display: flex;
flex-direction: column;
text-align: center;
color:#154360;
margin: 0px;
padding: 0px;
}

.main{display: flex;
flex-wrap: wrap;
justify-content: center;}
iframe{display: flex;
	flex-direction: column;
	justify-content: center;}

footer{display: flex;
flex-direction: column;
text-align: center;
background-color: #2C2C54;
color:#E2C93B;}

h5{display: flex;
flex-direction: column;
justify-content: center;}

@media (min-width: 576px) {body{font-size: 21px;}
header {display: flex;}
nav{display: flex;
	flex-direction: column;
	justify-content: left;}
.main{display: flex;
flex-wrap: wrap;
justify-content: center;}
iframe{display: flex;
	flex-direction: column;
	justify-content: center;
	width: 75%;}}

@media (min-width: 768px) {
body{font-size: 15px;}
header {display: flex;}
nav{display: flex;
	flex-direction: column;
	justify-content: left;}
.main{display: flex;
flex-wrap: wrap;
justify-content: center;}
iframe{display: flex;
	flex-direction: column;
	justify-content: center;}}

@media (min-width: 992px) {body{font-size: 19px;}
header {display: flex;}
nav{display: flex;
	flex-direction: column;
	justify-content: left;}
.main{display: flex;
flex-wrap: wrap;
justify-content: center;}
iframe{display: flex;
	flex-direction: column;
	justify-content: center;}}

@media (min-width: 1200px) {body{font-size: 19px;}
header {display: flex;}
nav{display: flex;
	flex-direction: column;
	justify-content: left;}}

 